<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint maiores
  voluptatibus ipsa beatae sequi, eos neque rem voluptatum iusto voluptates quam
  obcaecati eum! Consequatur, rem eveniet placeat odit voluptatem eaque?Eum,
  distinctio quisquam ab maiores provident quidem nobis. Est porro reiciendis
  consequuntur odit nihil sequi voluptates! Accusamus ducimus vel quae quis
  possimus maiores voluptatem, voluptas qui doloribus. Ad, nihil impedit.
</p>
